.block
  // padding 24rpx
.icon-level
  background url('../images/icon-bf.png')
.padding-m
  padding 16rpx
.normal-inside
  padding 24rpx 24rpx
i.icon-gold_coin
  display inline-block
  width 88rpx
  height 88rpx
  background-size cover
.logout-btn
  position absolute
  bottom 42rpx
  left 0
  right 0
  margin auto
  text-align center
  button
    width 90%
    margin 0 auto
.my-index
  .propers-text
    font-size 32rpx
  .bold
    text-indent 18rpx
    font-weight bold
    font-size 38rpx !important
    margin-bottom 12rpx
  .text-blue
    font-size 32rpx