.block
  // padding 24rpx
.icon-level
  background url('../images/icon-bf.png')
.padding-m
  padding 16rpx
.normal-inside
  padding 24rpx 24rpx
i.icon-gold_coin
  display inline-block
  width 88rpx
  height 88rpx
  background-size cover