.article-index
  // position relative
  // padding 24rpx 24rpx
  // background url(../../../static/images/content-bg-5.jpg)
  .content-text-style
    color #fff
    text-align justify
    text-justify inter-word
  .content-bg-image
    position absolute
    width 100%
    z-index -1
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    &:after
      content: "";
      width: 90%;
      height: 90%;
      position: absolute;
      background rgba(0, 0, 0, 0)
      left:0 ;
      top: 0;
      filter: blur(18rpx)
      z-index: 2
.coins
  display flex
  position fixed
  width 100%
  padding 32rpx
  // background rgba(0, 0, 0, 0.5)
  height 80rpx
  z-index 999
  img
    // position absolute
    // z-index 3
    width 50rpx
    height 50rpx
    display block
    background-size cover
    display inline-block
  label
    // position absolute
    // top 40rpx
    // left 52rpx
    // z-index 2
    min-width 80rpx
    margin-left -10rpx
    margin-top 6rpx
    text-indent 8rpx
    text-align center
    display inline-block
    font-size 26rpx
    height 20px
    line-height 28rpx
    background #3cabec
    color #fff
    border #3cabec 6rpx solid
    border-radius 8rpx
.listen-page-swiper
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  ._swiper-item
    border-radius: 15rpx;
.listen-text
  font-size 34rpx
  font-weight 500
.swiper-wrap
    border-radius 12px
  swiper.listen-swiper
    // width 525rpx
    // min-width 525rpx
    // height 769rpx
    // min-height 769rpx
    // border-radius 12px
    // width 683rpx
    // min-width 683rpx
    width 100%
    height 999rpx
    min-height 999rpx
    text-align center
    margin 0 auto
    view
      // border-radius 12px
      text-align center
    .slide-image
      width 100%
      height 100%
      display block
      object-fit contain
    // swiper-item
      // border-radius 12px
