.aui-flex
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-box-align center
  -webkit-align-items center
  align-items center
  // padding 15px
  position relative
.aui-flex-box
  -webkit-box-flex 1
  -webkit-flex 1
  flex 1
  min-width 0
  font-size 14px
  color #333
  img.main-image-1
    // width 364rpx
    height 466rpx
  img.main-image-2
    // width 364rpx
    height 315rpx
  img.main-image-3
    // width 364rpx
    margin-top 36rpx
    height 119rpx
  img.main-image-4
    width 100%
    height 178rpx
.aui-flex-two
  padding 24rpx 24rpx 0 0
  .aui-flex-box
    margin-left 24rpx
.index-grade-tab
  // margin-top 28rpx
  .weui-tab__content
    padding 0
    padding-bottom 14rpx
.story-list
  padding-top 30rpx
  // padding-bottom 30rpx
  padding-left 32rpx
  padding-right 32rpx
  border-top #f4f4f4 1rpx solid
  // border-bottom #f4f4f4 1rpx solid
  position relative
  p.info
    text-align left
    margin-bottom 20rpx
    i
      width 22rpx
      height 22rpx
      display inline-block
    label
      font-size 24rpx
      color #7f7f7f
      float right
  .buttons
    padding-top 34rpx
    button
      width 50%
  .list-main
    display block
    text-align left
    img
      width 68rpx
      height 68rpx
      display inline-block
      border-radius 50%
    .title-info
      font-size 26rpx
      margin-left 20rpx
      margin-right 20rpx
      // line-height 60rpx
      display inline-block
      text-justify inter-word
      text-align center
      // min-width 340rpx
      p
        text-align left
        font-size 26rpx
      p.story-title
        color #000000
        font-weight 500
    // button
.index-grade-tab
  padding 24rpx
  .weui-navbar
    border-bottom none
    .weui-navbar__title
      i
        display inline-block
        vertical-align middle
        border-radius 50%
        width 60rpx
        height 60rpx
    .weui-navbar__slider
      background none
.home-index
  .cu-btn
    font-size 28rpx
    padding-left 20rpx
    padding-right 20rpx
    top -16rpx
    &:last-child
      right -30rpx